#REVOLVER GAMIN
REVOLVER_HASH = 
REVOLVER_OPERATOR = 
REVOLVER_URL = 


#DATABASES
DB_HOST= 
DB_PORT= 
DB_USERNAME= 
DB_PASSWORD= 
DB_DATABASE= 

#NODE_ENV
NODE_ENV = 

#AUTHORIZATION
AUTH_TOKEN_EXPIRE_TIME = 

#BCRYPT
BCRYPT_SALT = 
